body{
    display: flex;
    flex-direction: column;
    font-family: "Varela Round";
    font-weight: lighter;
}

.backToMainPageIcon svg{
    height: 30px;
    width: 30px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.backToMainPageIcon{
    display: flex;
    margin: 15px;
}

.addContentDiv{
    border: 1px solid grey;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}

.cimDiv{
    display: flex;
    flex-direction: column;
}

.leirasDiv{
    display: flex;
    flex-direction: column;
}

.hataridoDiv{
    display: flex;
    flex-direction: column;
}

.pontDiv{
    display: flex;
    flex-direction: column;
}

.fileDiv{
    display: flex;
    flex-direction: column;
}

.fileDiv label{
    margin-right: 10px;
}

.fileDiv input{
    border: none;
    padding: 5px;
}

input{
    margin-bottom: 15px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

#file::file-selector-button{
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 30px;
}

#file::file-selector-button:hover{
    cursor: pointer;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.typeofContent{
    display: flex;
    flex-direction: column;
}

#typeContent{
    height: 30px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
}

#createContentButton:hover{
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#createContentButton{
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #5271ff;
    color: white;
    border:1px solid #4965e1;
}