body {
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid grey;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: 2rem;
}

.backToMainPageIcon {
    display: flex;
    margin: 15px;
}

.backToMainPageIcon a svg {
    width: 30px;
    height: 30px;
    color: black;
}

a {
    color: #5271ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.contactDiv {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: flex;
    margin: 10px 0 5px;
}

input, textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    min-width: 500px;
}

#uzenetKuldes {
    width: 100px;
    color: white;
    background-color: #5271ff;
    border: 2px solid #4c68e7;
    border-radius: 15px;
    margin-top: 15px;
    font-family: "Varela Round";
    font-size: large;
    padding: 5px;
}

#uzenetKuldes:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.stepincontactDiv {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
}

.faq {
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.faq p {
    margin: 5px 0;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.contact-list li strong {
    font-weight: bold;
    color: #333;
}

.contact-list li a {
    color: #007bff;
    text-decoration: none;
}

.contact-list li a:hover {
    text-decoration: underline;
}