body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    transition: filter 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 !important;
    font-family: "Varela Round";
}

.header{
    display: flex;
    width: 100%;
    z-index: 10;
    padding-inline: 0;
    height: 350px;
    background-size: cover;
}

.contentBody{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
}

.line{
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    height: 5px;
}

#line1{
    top: 0%;
}

#line2{
    top: 50%;
    transform: translateY(-50%);
}

#line3{
    top: 100%;
    transform: translateY(-100%);
}

.hamburger-icon{
    position: relative;
    user-select:none;
    margin: 5px;
    width:40px;
    height:30px;
    box-sizing:border-box;
    cursor:pointer;
    z-index: 10;
}

#hamburger-menu{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-inline: auto;
    height: 50px;
}

.hamburger-menu:hover.line{
    background-color: white;
    visibility: visible;
}

#hamburger-menu.active #line2{
    transform: scale(0.1,0.1);
    opacity: 0;
}

#hamburger-menu.active #line1{
    transform: translateY(15px) rotate(45deg);
    background-color: black;
}

#hamburger-menu.active #line3{
    transform: translateY(-15px) rotate(-45deg);
    background-color: black;
}

#hamburger-menu .hamburger-menu-content{
    position: fixed;
    top: 0;
    width: 300px;
    box-sizing: border-box;
    height: 100vh;
    padding: 50px;
    border: 1px solid grey;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; 
    transition: opacity 0.5s, visibility 0.5s; 
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#hamburger-menu.active .hamburger-menu-content{
    background-color: white;
    opacity: 1;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    visibility: visible;
    z-index: 1;
}

.hamburger-menu-content li{
    padding: 5px 0;
    color: black;
    font-size: 20px;
}

.hamburger-menu-content a{
    text-decoration: none;
}

.courseDatas{
    display: inline;
    color: white;
    position: absolute;
    top:150px;
    margin: 15px;
    padding: 5px;
}

.houseIcon{
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 30px;
    width: 40px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;
}

.houseIcon svg{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
}

.houseIcon a{
    text-decoration: none;
    color: white;
}

.functionIcons a{
    display: flex;
    margin-right: 15px;
    height: 60px;
    width: 60px;
}

.functionIcons svg{
    color:black;
}

.functionIcons{
    display: flex;
    /* flex-direction: row; */
    margin-left: 15px;
    margin-top: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    margin:15px;
}

.tananyagDiv{
    display: flex;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
    width: 100%;
    height: 150px;
    align-items: center;
}

.Icon a{
    display: flex;
    height: 60px;
    width: 60px;
    margin: 15px;
}

.Icon svg{
    color: black;
}

.feladatDiv{
    display: flex;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 5px;
    width: 100%;
    height: 150px;
    align-items: center;
}

body.modal-open {
    overflow-y: hidden;
    padding-right: 15px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.close-button svg, .close-buttonUsers svg{
    color: black;
    float: right;
    height: 20px;
    width: 20px;
}

.close-button:hover, .close-buttonUsers:hover {
    cursor: pointer;
    color: #000;
}
  
a#openModal, a#openModalUsers {
    color: #007BFF;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
  
a#openModal:hover, a#openModalUsers:hover {
    text-decoration: underline;
}

.deadlineExercises, .courseUsersDiv{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
}

.courseUsers{
    align-items: center;
}

#deleteButton{
    font-family: "Varela Round";
    font-weight: lighter;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
    color: red;
    height: 30px;
}

#deleteButton:hover{
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(215, 154, 154, 0.5);
}