.header{
    background-color: #5271FF;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    position: sticky;
    top: 0;
    padding-inline: 0px;
    z-index: 10;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Varela Round";
    font-weight: 200;
    font-style: normal;
    transition: filter 0.3s ease-in-out;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100vw;
    padding: 10px;
}

.line{
    position:absolute;
    width: 100%;
    background-color: white;
    border-radius:10px;
    box-sizing:border-box;
    transition:all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    height: 5px;
}

#line1{
    top:0%;
}

#line2{
    top:50%;
    transform:translateY(-50%);
}

#line3{
    top:100%;
    transform:translateY(-100%);
}

#icon{
    position: relative;
    user-select:none;
    margin: 5px;
    width:40px;
    height:30px;
    box-sizing:border-box;
    cursor:pointer;
    z-index: 10;
}

#menu{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-inline: auto;
    height: 50px;
}

#menu:hover .line{
    background-color:white;
}

#menu.active #line2{
    transform:scale(0.1,0.1);
    opacity:0;
}

#menu.active #line1{
    transform:translateY(15px) rotate(45deg);
    background-color: black;
}

#menu.active #line3{
    transform:translateY(-15px) rotate(-45deg);
    background-color: black;
}

#menu #menuContent {
    position: fixed;
    top: 0;
    width: 300px;
    box-sizing: border-box;
    height: 100vh;
    padding: 50px;
    border: 1px solid grey;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; 
    transition: opacity 0.5s, visibility 0.5s; 
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

#menu.active #menuContent {
    background-color: white;
    opacity: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    visibility: visible;
    z-index: 1;
}

#menuContent li {
    padding: 5px 0;
    color:black;
    font-size: 20px;
}

#menuContent a{
    text-decoration: none;
}

#menuContent #addedCourses{
    margin-bottom: 5px;
}

.plusIcon{
    height: 50px;
    color: white;
    width: 50px;
    margin-right: 10px;
    z-index: 10;
    padding-inline: 0;
}

.plusIcon:hover{
    cursor: pointer;
}

.plusIcon a{
    text-decoration: none;
    color: white;
}

.calendarIcon{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    z-index: 10;
    padding-inline: 0;
}

.calendarIcon{
    cursor: pointer;
}

.calendarIcon a{
    text-decoration: none;
    color: white;
}

/* Popup Css */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
}

/* Popup content box */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: black;
}

.calendar-popup-overlay{
    display: none;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.toDoExercises{
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
    color: grey;
}

#calendarCloseButton{
    height: 15px;
    width: 15px;
}

#selectAddCourse{
    height: 30px;
}

.codeAddButton{
    background-color: #5271FF;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 15px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}

.codeAddButton:hover{
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#codeInput{
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 130px;
}

.card-title,.card-teachers{
    color: black;
}

a{
    text-decoration: none;
}

#logoutButton svg{
    height: 20px;
    width: 20px;
}

#logoutButton{
    font-family: "Varela Round";
    font-size: 15px;
    display: flex;
    height: 30px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#logoutButton:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.userIcon{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    z-index: 10;
    padding-inline: 0;
}

.user:hover{
    cursor: pointer;
}

.userIcon a{
    color: white;
}