.header{
    background-color: #5271FF;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    position: absolute;
    padding-inline: 0px;
    z-index: 10;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.line{
    position:absolute;
    width: 100%;
    background-color: white;
    border-radius:10px;
    box-sizing:border-box;
    transition:all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
    height: 5px;
}

#line1{
    top:0%;
}

#line2{
    top:50%;
    transform:translateY(-50%);
}

#line3{
    top:100%;
    transform:translateY(-100%);
}

#icon{
    user-select:none;
    position:absolute;
    top: 0;
    left: 0;
    margin: 5px;
    width:40px;
    height:30px;
    box-sizing:border-box;
    cursor:pointer;
    z-index: 10;
}

#menu{
    position: relative;
    width: 100vw;
    margin-inline: auto;
    height: 50px;
}

#menu:hover .line{
    background-color:white;
}

#menu.active #line2{
    transform:scale(0.1,0.1);
    opacity:0;
}

#menu.active #line1{
    transform:translateY(15px) rotate(45deg);
}

#menu.active #line3{
    transform:translateY(-15px) rotate(-45deg);
}

#menu #menuContent {
    position: absolute;
    left: 180px;
    top: 200%;
    transform: translateX(-50%);
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    border: 1px solid grey;
    border-radius: 15px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; 
    transition: opacity 0.5s, visibility 0.5s; 
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

#menu.active #menuContent {
    opacity: 1;
    visibility: visible;
}
#menuContent li {
    padding: 5px 0;
    color:black;
    font-size: 20px;
    background-color: white;
}

#menuContent a{
    text-decoration: none;
}

#menuContent #addedCourses{
    margin-bottom: 5px;
}