body{
    font-family: "Varela Round";
    font-weight: lighter;
}

.backToMainPageIcon svg{
    height: 30px;
    width: 30px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.backToMainPageIcon{
    display: flex;
    margin: 15px;
}

.userDataDiv{
    margin: 10px;
    border: 1px solid grey;
    border-radius:10px;
    padding: 15px;
}

.passwordDiv{
    margin: 10px;
    border: 1px solid grey;
    border-radius:10px;
    padding: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container .input-wrapper {
    display: flex;
    align-items: center;
}

.input-container input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    flex: 1;
    margin-right: 10px;
}

#modifyUserDataButton{
    font-family: 'Varela Round';
    height: 30px;
    width: 100%;
    border: 1px solid #5271ff;
    border-radius: 10px;
    background-color: #5271ff;
    color:white;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#modifyUserDataButton:hover{
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.navbar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

.navbar a{
    margin-right: auto;
    margin-left: auto;
}

a:hover{
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    width: 500px;
    font-size: large;
}

.modal-content button {
    background-color: #5271ff;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    font-family: sans-serif;
    padding-block: 5px;
    width: 100px;
    margin: 5px;
    color: white;
}

.modal-content button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal-content button:active {
    background-color: #8fa3ff;
}