body{
    flex-direction: column;
    font-family: "Varela Round";
    font-weight: lighter;
}

.backToMainPageIcon svg{
    height: 30px;
    width: 30px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.backToMainPageIcon{
    display: flex;
    margin: 15px;
}

.backToMainPageIcon svg:hover{
    cursor: pointer;
}

.links {
    color: black;
	border-bottom: 1px solid #0003;
	font-size: 25px;
	font-weight: 300;
}
.links > a {
    color: black;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
}
.links > .line {
	background: #50514F;
	height: 2px;
	pointer-events: none;
}

.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}

.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }

#usersList.active, #modifyRole.active {
    display: flex;
}

#usersList, #modifyRole {
    display: none;
}

.content{
    margin:15px;
	width: 100%;
}

.mainDiv{
	width: 100%;
}

#usersList{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0 !important;
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .svg-container {
    display: flex;
    gap: 5px;
    width: auto;
    margin-left: auto; 
}

li svg {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

li svg:hover {
    cursor: pointer;
}

.deleteBtn{
    margin-right: 5px;
}