body{
    flex-direction: column;
    font-family: "Varela Round";
    font-weight: lighter;
}

.backToMainPageIcon svg{
    height: 30px;
    width: 30px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.backToMainPageIcon{
    display: flex;
    margin: 15px;
}

.backToMainPageIcon svg:hover{
    cursor: pointer;
}

.content{
    margin:15px;
	width: 100%;
}

.mainDiv{
	width: 100%;
}

#usersList{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0 !important;
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .svg-container {
    display: flex;
    gap: 5px;
    width: auto;
    margin-left: auto; 
}

li svg {
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

li svg:hover {
    cursor: pointer;
}

.deleteBtn{
    margin-right: 5px;
}

.user-role {
    font-size: 0.9em;
    color: gray;
    margin-top: 4px;
}

.text-container {
    display: flex;
    flex-direction: column;
}
