RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ /ekurzusok/admin/index.php?path=$1 [NC,L,QSA]
RewriteRule ^(.*)$ /13c-ferenczy/ekurzusok/admin/index.php?path=$1 [NC,L,QSA]