html, body {
    font-size: 18px;
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}

button, input, a {
    transition: 0.2s;
}

#site-container {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

#admin-stats {
    margin-left: 15px;
    line-height: 150%;
}

#admin-stats h1 {
    font-size: 32px;
    margin-block: 10px;
    color: #00008b;
    font-weight: 200;
}

/* Navbar */

#navbar-container {
    max-width: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#navbar {
    width: 100%;
    height: 50px;
    background-color: #5271ff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-width: 750px;
    border-radius: 10px;
}

.navitem {
    width: 150px;
    height: 100%;
    float: left;
    border-radius: 10px;
    transition: 0.2s;
}

#logout-container {
    float: right;
    border-radius: 10px;
    background-color: #00008b;
}

#logout-container:hover {
    background-color: #4b4baa;
}

.navitem:hover {
    background-color: #728cff;
}

.navitem a,
.navitem input {
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}

#navitem-logo {
    width: 150px;
    height: 100%;
    float: left;
    background-color: #00008b;
    border-radius: 10px;
}

#navbar-center {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
}

#nav-logo {
    line-height: 50px;
    display: block;
    text-align: center;
    color: white;
    height: 100%;
    font-weight: 600;
}

#logout-button {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    padding: 0px;
    cursor: pointer;
}

/* Oldal kezelő */

#search, #pager {
    margin-bottom: 10px;
}

#page-control {
    padding: 0;
    margin-left: 15px;
}

#rows, #rows option, #orderby, #orderby option, #page, #page-control input[type=button], #field, #field option, #keyword {
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}

#orderby, #orderby option, #keyword {
    text-align: left !important;
}

#keyword {
    padding: 5px;
}

#search-button {
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 18px;;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.row-count-span {
    margin-left: 20px;
}

#page {
    width: 50px;
}

#page-control input[type=button] {
    width: 30px;
}

#page-control label {
    margin: 0;
    padding: 0;
}

/* Görgethető táblázat */

#content {
    flex: 1;
    overflow: scroll;
    margin-left: 10px;
    padding: 0;
}

#content a {
    color: blue;
}

#content a:visited {
    color: blue;
}

#content a:hover {
    color: #5271ff;
}

table {
    width: 100%;
}

tr:nth-child(even) td {
    background-color: #dae5ff;
}

th {
    background-color: white;
    position: sticky;
    top: 0;
}

th div {
    background-color: #5271ff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

td {
    border: 1px solid #c0c0c0;
    height: 30px;
    padding-inline: 10px;
}

tr td:first-child {
    font-family: monospace;
    text-align: right;
}

tr td:last-child {
    padding: 2px;
}

.action {
    text-align: center;
    padding: 0px;
}

.actions {
    width: 100%;
    text-align: center;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.actions button, .action button {
    width: 100%;
    background-color: white;
    height: 100%;
    font-size: 18px;
    font-family: sans-serif;
}

.delete {
    border: 2px solid red;
}

.modify {
    border: 2px solid #5271ff;
}

.delete:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.modify:hover {
    background-color: #5271ff;
    color: white;
    cursor: pointer;
}

#stats {
    margin: 10px;
    font-size: 20px;
}

.monospace {
    text-align: right;
    font-family: monospace;
}

#info {
    margin-left: 15px;
}

.info-modal-container {
    padding-block: 3px;
}

.info-modal, #modify-modal {
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin-right: 3px;
    background-color: #dae5ff;
}

#modify-modal {
    border: 0;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #00008b;
    color: white;
}

#modify-modal:hover {
    background-color: #5271ff;
    cursor: pointer;
}

#modify-modal:active {
    background-color: #8fa3ff;
}

.info-modal:first-of-type {
    font-weight: 600;
    background-color: #5271ff;
    color: white;
}

/* Bejelentkező oldal */

.admin-login-container {
    width: fit-content;
    margin: 100px auto;
}

.admin-login-container h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
    color: #00008b;
}

.admin-login-container input, label {
    width: 300px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
}

.admin-login-container input[type=submit] {
    width: 200px;
    padding: 10px;
    background-color: #5271ff;
    color: white;
    border-radius: 10px;
    border: 0;
}

.admin-login-container input[type=submit]:hover {
    background-color: #8fa3ff;
    cursor: pointer;
}

#admin-login-result {
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(164, 12, 12);
    color: white;
}

/* Adatmódosítás */

#modify-form-div {
    margin-left: 15px;
    width: 100%;
}

#modify-form-div h1 {
    font-size: 26px;
    margin-block: 10px;
    color: #00008b;
    font-weight: 400;
    text-align: center;
}

#modify-form table {
    width: fit-content;
    margin-inline: auto;
}

#modify-form table tr td {
    background: none;
    border: 0;
}

.modify-input {
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    width: 400px;
    border-radius: 5px;
    border: 1px solid gray;
}

#modify-submit {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#passwd-reset {
    width: 250px !important;
    margin-left: 10px;
}

#modify-submit input, #modify-submit button {
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    width: 150px;
    background-color: #00008b;
    color: white;
    border-radius: 5px;
    border: 0;
}

#modify-submit input:hover, #modify-submit button:hover {
    cursor: pointer;
    background-color: #5271ff;
}

#modify-submit input:active, #modify-submit button:active {
    background-color: #8fa3ff;
}

/* Törlés megerősítés modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    width: 500px;
}

.modal-content button {
    background-color: #00008b;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    font-family: sans-serif;
    padding-block: 5px;
    width: 150px;
    margin: 5px;
    color: white;
}

.modal-content button:hover {
    background-color: #5271ff;
    cursor: pointer;
}

.modal-content button:active {
    background-color: #8fa3ff;
}